@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color:#1E262F;
}



.App{
 max-height: 501px;
 padding: 30px;
 border-radius: 10px;
 margin: 50px 20px 50px 20px;
 background-color: #101317;


}
.types{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-left: 250px;
  background-color: #101317;
}
.types p{
  color: #fff;
  background-color: #101317;
  margin-bottom: 0 !important;
}



.record .box{
  background: #1E262F;
 
}


ul{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 0!important;
  padding-left: 0 !important;
 
}
@media(max-width:750px){
 .App{
  max-height: 100%;
 }

  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul li{
    margin: 20px 0 11px 0;
  }

  .types{
    margin-left: 18px;
  }
}

ul li{
display: flex;
 align-items: center;
 justify-content: center;
 margin: 5px 0 5px 0;
 color: #fff;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;

}

ul li p{
  margin-bottom:0 ;
}

.CircularProgressbar-background {
  fill: green;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 6.48px;
	position: relative;
	margin: 15px 0;
	height: 9.72px;
	width: 179.09px;
}

.progress-done {
	/* background: linear-gradient(to left, #F2709C, #FF9472); */
  /* background-color: black; */
	box-shadow: 0 3px 3px -5px #F45C84, 0 2px 5px #F45C84;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.box ul li .CircularProgressbar-path {
  stroke: #7FD18C;
}
.box ul li .CircularProgressbar-trail {
  stroke: #ddd;
}
.box ul li .CircularProgressbar-text {
  fill: white;
}
.box ul li .CircularProgressbar-background {
  fill: #7FD18C;
}
